body {
    margin: 0;
    padding: 0;
    background: #fff;
}

#nameForm {
  position: absolute;
  width: 245px;
  margin-top: 30%;
  margin-left:35%;
}

@font-face {
    font-family: "Montalban";
    src: url(Montalban.ttf);
}

p {
    font-family: "Montalban";
    font-size: 50px;
    visibility: hidden;
    position: absolute;
}